@page
@model WebApp.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "SignIn";
}

<div class="container">
    <form class="auth-form" method="post">
        <h1 class="mb-3 text-center">Sign In</h1>
        <div class="mb-3">
            <label for="email" class="form-label">Email <span class="required">*</span></label>
            <input asp-for="Credentials.Email" type="text" class="form-control" id="email" placeholder="Enter your email">
            <span class="text-danger" asp-validation-for="Credentials.Email"></span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password <span class="required">*</span></label>
            <input asp-for="Credentials.Password" type="password" class="form-control" id="password" placeholder="Enter your password">
            <span class="text-danger" asp-validation-for="Credentials.Password"></span>
        </div>
        @if (Model.Error != null)
        {
            <div class="alert alert-danger" role="alert">@Model.Error</div>
        }
        <button type="submit" class="btn btn-lg btn-primary w-100">Submit</button>
    </form>
</div>