html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.required {
    font-weight: bold;
    color: red;
}

.auth-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

/*.my-3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}*/

.rating-input {
    display: flex;
    align-items: center;
}

.stars {
    display: inline-flex;
}

.rating-input .stars {
    margin-left: 1.25rem;
}

.stars .star {
    cursor: pointer;
    color: gray;
    transition: color 0.2s;
}

.star.checked {
    color: gold;
}