@page "{id}"
@model WebApp.Pages.CreateReport.IndexModel
@{
    ViewData["Title"] = "Report of review";
}

<div class="my-5">
    <h2 class="text-center">Report of review</h2>
    <form method="post">
        <div class="mb-3">
            <label for="reviewContent" class="form-label">Reason <span class="required">*</span></label>
            <textarea asp-for="ReportViewModel.Reason" class="form-control" id="reviewContent" rows="3"
                      placeholder="Write your reasoning"></textarea>
            <span class="text-danger" asp-validation-for="ReportViewModel.Reason"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
